
.hero-section {
  /* position: relative; */
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('netflix/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:560px;
  /* display: flex; */
}

